<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-WT1V1LJJBJ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-WT1V1LJJBJ');
</script>
  <title><%- blogTitle %></title>
  <title>Dark Mode</title>
    <script src=
"https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js">
    </script>
     
     <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5863303418494781"
     crossorigin="anonymous"></script>
     
    <style>
        .mode {
            float:right;
        }
        .change {
            cursor: pointer;
            border: 1px solid #555;
            border-radius: 40%;
            width: 20px;
            text-align: center;
            padding: 5px;
            margin-left: 8px;
        }
        .dark{
            background-color: #222;
            color: #e6e6e6;
        }
    </style>
  <meta charset="UTF-8" />
  <title><%- blogTitle %></title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../src/scss/init.scss">
  <link rel="stylesheet" href="../src/scss/articles.scss">
</head>

<body>
  <div class="mode">
    Dark mode:            
    <span class="change">OFF</span>
</div>
 
<script>
    $( ".change" ).on("click", function() {
        if( $( "body" ).hasClass( "dark" )) {
            $( "body" ).removeClass( "dark" );
            $( ".change" ).text( "OFF" );
        } else {
            $( "body" ).addClass( "dark" );
            $( ".change" ).text( "ON" );
        }
    });
</script>
  <header id="top-container" role="navigation">
  </header>

  <main id="main-container">
    <section id="articles-container">
      <ul>
        <% articles.reverse().map((article) => { %>
          <li class="articles-list-item">
            
            <a href="./article/<%= article.id %>.html">
              
              <h1><%= article.title %></h1>
              <% if (article.subtitle) { %>
                <h2><%= article.subtitle %></h2>
              <% } %>
              <time><%= article.date %></time>
              <ul class="articles-tags">
                <% article.tags.map((tag) => { %>
                  <li>#<%= tag.trim() %></li>
                <% }) %>
              </ul>
            </a>
           
          </li>
        <% }) %>
      </ul>
    </section>
  </main>

  <script defer src="../src/ts/init.ts"></script>
</body>

</html>
